body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@keyframes hide {
    from {
        transform: rotate(-40deg) translate3d(360px, 0, 0);
        opacity: 0.8;
    }
    to {
        transform: rotate(-40deg) translate3d(-360px, 0, 0);
        opacity: 0;
    }
}

.letter-box{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    z-index: 5;
}

#mark{
    position: fixed;
    right:  0;
    bottom: 0;
    z-index: 10;
    opacity: .2;
    
}

#mark a{
    color: white;
    text-decoration: none;
}